<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/styles.css">
  <title>About weather</title>
</head>
<body>
  <main>

  {{>header}}
  <img class="profile-picture" src="./img/profile-01.jpeg" alt="Beto Costa's profile picture">
  <p>This weather forecast web app was created by <a class="external-link" href="https://betocostadev.github.io/" target="_blank">Beto Costa</a>.</p>
  <p>It's was based on Udemy's Course <a class="external-link" href="https://www.udemy.com/the-complete-nodejs-developer-course-2/" target="_blank">The Complete Node.js Developer Course</a> by Andrew Mead.</p>
  <p>The Weather app gets geolocation data from <a class="external-link" href="https://www.mapbox.com/" target="_blank">Mapbox</a> and weather data from <a class="external-link" href="https://darksky.net/" target="_blank">Darksky</a>.</p>
  <p>Code for this app is hosted on Github, you can check my profile <a class="external-link" href="https://github.com/betocostadev" target="_blank">here</a>.</p>
  </main>

  {{>footer}}

</body>
</html>