<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Weather App | Help</title>
</head>
<body>
  <main>
    {{>header}}
    <h2>Help documentation</h2>
    <p>The Weather App will get weather information of the place you provide in the search box and show it to you.</p>
    <p>On PC it will ask for your location, if you allow, it will give the information as soon as you open the site.</p>

  </main>

  {{>footer}}

</body>
</html>