<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="./img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Weather App | Help</title>
</head>
<body>
  <main>
    {{>header}}
    <h2>Documentation</h2>
    <p>As soon as you open the website, <em>if you are on PC</em> and you provide permission for the website to get your location, you will get the forecast for the place you are. If you are using a mobile device, or you want to get the forecast for another place, just enter the address you want and you will get the forecast data.</p>
    <p>You may provide a zip code such as <em>01942</em>, a city name or even the street or avenue name that you want to get the forecast.</p>

  </main>

  {{>footer}}

</body>
</html>